body {
    background: radial-gradient(circle, #111, #000);
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

#value {
    font-size: 90px;
    margin: 40px;
    color: #00ffcc;
}

button {
    font-size: 20px;
    padding: 10px 30px;
    background: #00ffcc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
